$primary-text-color: #FFFFFF;
$secondary-text-color: #e5e9f2;
$third-text-color: #c0ccda;

$primary-bg-color: #1f2129;
$secondary-bg-color: #272933;


$form-input-color: #2f333f;
$button-bg-color: #f25848;

$main-font-family: 'PT Sans', sans-serif;